@font-face {
  font-family: "hylia-serif-beta-regular";
  src: url("./assets/HyliaSerif.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

#root {
  background-color: black;
  max-width: 100vw;
  min-height: 100vh;
}

.App {
  background-image: url("./assets/Compendium_Background.png");
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.loading-bar {
  width: 60vw;
  height: 20px;
  background-color: #d6d6d6;
  z-index: 9999;
  border-radius: 20px;
}

.loading-bar-progress {
  width: 0%;
  height: 100%;
  background-color: #004867;
  animation: loading-bar-animation 5s ease-out infinite;
  border-radius: 20px;
}

@keyframes loading-bar-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 20px;
  margin-left: 30px;
}

.links {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 20px;
  img {
    width: 35px;
    filter: brightness(0.5);
  }
  img:hover {
    filter: brightness(1);
  }
  img.active {
    filter: brightness(1);
  }
}

.begin-btn {
  background-image: url("./assets/start_button.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 336px;
  height: 65px;
  border-radius: 10px;
}

.begin-btn:hover {
  filter: brightness(1.5);
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.homepage-img {
  width: 40%;
  margin-bottom: 50px;
}

.modal-open {
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.items-page {
  min-height: 100vh;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  .item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 178px;
    height: 178px;
    position: relative;
    background-image: url("./assets/item_frame.png");
    background-position: center;
    background-size: cover;
    .item-img {
      width: 160px;
      filter: brightness(0.8);
    }
    .item-img:hover {
      filter: brightness(1);
    }
    .item-id {
      position: absolute;
      bottom: 10px;
      left: 15px;
      z-index: 1;
      color: #3cd3fc;
      text-shadow: 0 0 5px #004867, 0 0 15px #000000;
      font-size: 18px;
    }
  }
  .item-name {
    margin-top: 5px;
    color: #3cd3fc;
    text-align: center;
    text-shadow: 0 0 5px #22cfff;
  }
}

.item-display-main-container {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .item-display-main-bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-image: url("./assets/item-desc-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75vw;
    height: 72vh;
    padding: 10px;

    .item-display-container {
      display: flex;
      justify-content: center;
      height: inherit;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #a3ebff;
      .item-img {
        width: 90%;
      }
      strong {
        color: #00c8ff;
      }
      .line {
        width: 100%;
      }
      .description {
        font-style: italic;
        color: #fff;
      }
      h1 {
        margin: 0;
        padding: 0;
        color: #00c8ff;
        font-size: 23px;
        font-family: "hylia-serif-beta-regular", sans-serif;
      }
      .display-row {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
      }
      .margin {
        margin-left: "5px";
      }
      .exit-btn {
        margin-bottom: auto;
        margin-top: 30px;
      }
    }
  }
}

.footer {
  color: #22cfff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
  .items-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .item-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .item-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 158px;
        height: 158px;
        position: relative;
        background-image: url("./assets/item_frame.png");
        background-position: center;
        background-size: cover;
        .item-img {
          width: 140px;
          filter: brightness(0.8);
        }
        .item-img:hover {
          filter: brightness(1);
        }
        .item-id {
          position: absolute;
          bottom: 10px;
          left: 15px;
          z-index: 1;
          color: #3cd3fc;
          text-shadow: 0 0 5px #004867, 0 0 15px #000000;
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .item-display-main-container {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .item-display-main-bg {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      background-image: url("./assets/item-desc-bg.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 75vw;
      height: auto;
      padding: 10px;

      .a {
        order: 2;
      }
      .b {
        order: 3;
      }
      .c {
        order: 1;
        margin-left: auto;
      }

      .item-display-container {
        display: flex;
        justify-content: center;
        height: inherit;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #a3ebff;
        .item-img {
          width: 90%;
        }
        strong {
          color: #00c8ff;
        }
        .line {
          width: 100%;
        }
        .description {
          font-style: italic;
          color: #fff;
        }
        h1 {
          margin: 0;
          padding: 0;
          color: #00c8ff;
          font-size: 23px;
          font-family: "hylia-serif-beta-regular", sans-serif;
        }
        .display-row {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
        }
        .margin {
          margin-left: "5px";
        }
        .exit-btn {
          margin-bottom: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
